* {
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}

.content {
  margin-left: 10%;
}
.half-width img {
  width: 80%;
  height: 85%;
  /* --Glassmorphism-- */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.half-width h1 {
  color: #132f3a;
  text-shadow: 2px 2px 4px #270808;
}
.half-width h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: #020c14;
}
.main-btn {
  width: 10rem;
  padding: 0.8rem;
  color: #132f3a;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 1.5rem;
  margin-top: 5rem;
  cursor: pointer;

  /* --Glassmorphism-- */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main-btn:hover{
  background-color:#060624;
  color: white;
}

@media only screen and (max-width: 400px) {
  .main-container {
   grid-template-columns: repeat(1, 1fr);
   
  }
  .half-width h1{
    text-shadow: 2px 2px 4px #270808;
  }
  .half-width h4{
    text-shadow: 0px 0px 2px #000;
  }
.half-width h1, h4{
  text-align: center;
}
.half-width p{
  text-align:center;
}
.half-width img{
  width: 80%;
  display:block;
  margin: auto;
  
}

}
